// Colors
$blue: #0f4b6b;
$blue2: #263a43;
$grey: #c2c2c2;
$darkGrey:#6C6B6B;
$lightBlack: #3339;
// Font-size
$xxxs: 8px;
$xxs: 10px;
$xs: 12px;
$xsm: 14px;
$sm: 16px;
$smx: 18px;
$mds: 20px;
$md: 22px;
$mdx:24px;
$lg: 26px;
$xl: 32px;
$xxl: 40px;

// Font-weight
$weight-100: 100;
$weight-300: 300;
$weight-400: 400;
$weight-700: 700;
$weight-900: 900;

// Devices
$phone: "phone";
$tablet: "tablet";
$desktop: "desktop";

// Media Queries
$phone-breakpoint: "600px";
$tablet-breakpoint: "1024px";
$desktop-breakpoint: "1600px";

// Layout conditions
$desktop-max-width: 1140px;
$desktop-padding: 20px;

// Scales
$scale-xs: 1.1;
